header {
    background-color: #600404;
    color: #f5e9e9;
}
#title {
    text-align: center;
    font-size: 18px;
}
nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 10px;
}
nav a {
    text-decoration: none;
    color: white;
    font-size: 13px;
}
    div {
    text-align: center;
}
img {
    width: 300px;
    border-radius: 30px;
}
footer {
    background: #333333;
    font-size: 12px;
}
@media (max-width: 768px) {
    #title {
        font-size: 18px;
    }
    nav ul {
        flex-direction: column;
        gap: 10px;
    }
    img {
        width: 100%;
    }
}